 @media only screen and (min-width: 600px) and (max-width: 991px) {

     /* Themes */
     .theme-purplelady {
         --color-primary: rgb(77, 37, 77);
         --color-secondary: #3f1d44;
         --color-accent: #44193e;
         --font-color: white
     }

     .theme-oceanview {
         --color-primary: #1c4375;
         --color-secondary: #131352;
         --color-accent: #0a127c;
         --font-color: white
     }

     .theme-windowsclassic {
         --color-primary: rgb(0, 131, 130);
         --color-secondary: #131352;
         --color-accent: #0a127c;
         --font-color: white
     }

     .theme-eatyourgreens {
         --color-primary: rgb(38, 85, 38);
         --color-secondary: rgb(31, 56, 31);
         --color-accent: rgb(106, 143, 106);
         --font-color: rgb(165, 165, 87);
     }

     .theme-burnbabyburn {
         --color-primary: rgb(75, 24, 24);
         --color-secondary: rgb(102, 12, 12);
         --color-accent: rgb(122, 3, 3);
         --font-color: rgb(65, 5, 5);
     }


     /*  Monitor */
     body {
         background: var(--color-primary);
         font-family: verdana, Sans-Serif;
         height: 100%;
         margin: 0;
         padding: 0;
         -webkit-font-smoothing: antialiased;
         -moz-font-smoothing: grayscale;
     }

     .screensaver {
         display: "none";
     }

     .container__monitor {
         position: relative;
         width: 100%;
         height: 100%;
         overflow: hidden;
         background-color: var(--color-primary);
     }

     .container__background {
         display: flex;
         flex-direction: column;
         margin: auto;
         width: 100%;
         height: 100%;
     }

     .monitor__background-img {
         position: absolute;
         left: 50%;
         top: 43%;
         width: 100vw;
         height: 100%;
         transform: translate(-50%, -50%);
         background-size: contain;
     }

     .link__instagram {
         position: absolute;
         top: 20%;
         left: 71%;
         width: 50%;
         background-color: white;
         font-size: 2.5rem;
         align-self: center;
         text-decoration: none;
         color: black;
         transform: rotate(-90deg);
     }

     /* Settings window */
     .settings-window {
         width: 50rem;
         height: 64rem;
         border: outset 2px;
         background: #c0c0c0;
         position: absolute;
         right: 8%;
         bottom: 19%;
         z-index: 9991;
         box-shadow: 0.25rem 0.25rem;
     }

     .settings-window>.content {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }

     .pc {
         background: url("./images/90_smartphone_01.png") no-repeat center;
         background-size: contain;
         overflow: auto;
         height: 22rem;
         margin: auto;
         width: 20rem;
         height: 22rem;
         margin-top: 2rem;
     }

     .pc__background-color {
         width: 47%;
         height: 72%;
         border: inset 2px;
         margin-left: 5.25rem;
         margin-top: 2.25rem;
         background-color: var(--color-primary);
         border-radius: 5%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         align-content: center;
     }

     .pc__background-img {
         width: 100%;
         height: 100%;
         margin: 0;
         border-radius: 5%;
         align-self: center;
         z-index: 1;
     }

     .display__props {
         display: flex;
         justify-content: center;
         margin-top: 1.75rem;
     }

     .display__props-themes-options,
     .display__props-background-options {
         width: 21.25rem;
         height: 14rem;
         border: inset;
         background: white;
         margin: 0.75rem;
         color: black;
         overflow: auto;
         white-space: nowrap;
     }

     .display__props-options {
         padding: 0;
         margin: 0;
     }

     .display__props-themes>p,
     .display__props-background>p {
         color: black;
         margin: 0;
         padding: 0;
         font-size: 2.1rem;
         text-align: center;
     }


     .display__props-background-image {
         padding-left: 0.25rem;
         margin-left: 0.5rem;
         margin-top: 0;
         cursor: pointer;
         background-color: white;
         color: black;
         font-size: 2.5rem;
         padding: 0.25rem;
     }

     .display__props-background-image.active {
         background-color: var(--color-primary);
         color: white;
     }

     .display__props-buttons {
         display: flex;
         justify-content: center;
         margin-top: 2rem;
     }

     .theme {
         padding-left: 0.25rem;
         margin-left: 0.25rem;
         margin-top: 0;
         cursor: pointer;
         color: black;
         font-size: 2.5rem;
         background-color: white;
         padding: 0.25rem;
     }

     .theme.active {
         background-color: var(--color-primary);
         color: white;
     }

     .classic-btn {
         width: 14rem;
         height: 4.75rem;
         margin: 0.75rem;
         border: 1px solid;
         box-shadow: 0.25rem 0.25rem;
         font-size: 2.25rem;
     }

     .classic-btn:active {
         outline: var(--color-primary) auto 1.25rem;
     }

     #yossi2 {
         display: none;
     }

     .djamillia {
         height: 40%;
     }

     .vika,
     .yossi1,
     .shruti,
     .kathi {
         height: 100%;
     }


     .chris {
         width: 120%;
     }

     .since95 {
         width: 80%;
         height: 40%;
     }

     #djamillia {
         display: none;
     }

     .pc__background-img.djamillia,
     .pc__background-img.since95 {
         align-self: center;
     }

     .pc__background-img.chris,
     .pc__background-img.vika {
         height: 100%;
         width: 100%;
     }

     /*  Project windows  MAX is small*/
     .project-window.max {
         width: 55rem;
         height: 55rem;
         border: outset 2px;
         position: absolute;
         top: 0 !important;
         right: 0 !important;
         background: #c0c0c0;
         z-index: 9999;
     }

     .project-window {
         width: 100%;
         height: 90.25%;
         top: 0 !important;
         left: 0 !important;
         bottom: auto !important;
         border: outset 2px;
         background: #c0c0c0;
         position: absolute;
         z-index: 10;
     }

     .window__titlebar {
         background: var(--color-secondary);
         position: absolute;
         top: 0px;
         right: 0px;
         left: 0px;
         height: 7rem;
         border: none;
         color: #fff;
         font-size: 3rem;
         line-height: 4rem;
         padding-left: 1rem;
         padding-top: 0.5rem;
     }

     /* Buttons project windows */
     .notepad-minimize,
     .notepad-maximize,
     .notepad-exit {
         height: 69%;
         display: block;
         float: right;
         padding-top: 0.25rem;
         padding-bottom: 0.25rem;
     }

     .button-minimize,
     .button-maximize,
     .button-exit {
         background: #bfbfbf;
         height: 100%;
         width: 6rem;
         border-right: 6px solid black;
         border-bottom: 6px solid black;
         border-left: 3px solid white;
         border-top: 3px solid white;
         color: black;
         margin: 2px;
     }

     .icon-exit {
         position: absolute;
         top: 1rem;
         right: 1.5rem;
         font-size: 5rem;
     }

     .icon-maximize {
         border-bottom: 3.5px solid black;
         border-top: 7px solid black;
         border-left: 3.5px solid black;
         border-right: 3.5px solid black;
         height: 67%;
         width: 78%;
         display: block;
         margin: auto;
         margin-top: 3.2px;
         font-weight: bold;
     }

     .icon-minimize {
         border-bottom: 4px solid black;
         width: 80%;
         height: 73%;
         display: block;
         margin: auto;
         margin-left: 0.5rem;
         font-weight: bold;
     }

     .content {
         position: absolute;
         top: 7rem;
         bottom: 0px;
         left: 0px;
         right: 0.5rem;
     }

     .textbox.max {
         border: inset 2px;
         background: white;
         color: black;
         margin: 0.25rem;
         height: 92%;
         padding: 2px;
         overflow: auto;
         text-align: center;
     }

     .textbox {
         border: inset 2px;
         background: #fff;
         margin: 0.25;
         height: 93%;
         padding: 2px;
         color: black;
         font-size: 1.25rem;
         overflow: auto;
         text-align: center;
     }

     .textbox:focus {
         border: inset 2px;
         outline: none;
     }

     .text {
         width: 80%;
         display: inline-block;
     }

     #project-title {
         font-size: 7rem;
         margin: 0;
     }

     .project-header-img-musicviz {
         width: 10rem;
     }

     .project-header-spotavibe-img1 {
         width: 7rem;
     }

     .project-header-spotavibe-img2 {
         width: 10rem;
     }

     .project-header-gerrit-img {
         width: 7rem;
     }

     .project-description {
         font-size: 2rem;
         margin-bottom: 1.6rem;
     }

     .project__links {
         display: flex;
         flex-direction: column;
         line-height: 2rem;
         font-size: 3.25rem;
         margin-bottom: 1.5rem;
         margin: 1rem;
     }

     .project__links>span {
         margin: 1rem;
     }

     .project__links-gerrit {
         display: flex;
         flex-direction: column;
         line-height: 1.8rem;
         font-size: 2.75rem;
         margin-top: 2.25rem;
         margin-bottom: 1.5rem;
     }

     .project__links-gerrit>span {
         margin: 1rem;
     }

     .project__img {
         width: 90%;
         -moz-box-shadow: 10px 10px 5px #ccc;
         -webkit-box-shadow: 10px 10px 5px #ccc;
         box-shadow: 10px 10px 5px #ccc;
         margin: 1.4rem;
         border-radius: 3%;
     }

     .project__info-tech {
         width: 100%;
         margin-top: 2.25rem;
     }

     .project__img-gerrit {
         height: 80rem;
         margin: 3rem;
     }

     .project__img-gerrit>img {
         width: auto;
         height: 100%;
         margin: 0rem;
     }

     .project__imgs {
         display: flex;
         justify-content: center;
         margin-top: 3rem;
     }

     .mariposa-project.max {
         width: 600px;
         height: 400px;
         border: outset 2px;
         position: relative;
         background: #c0c0c0;
         z-index: 9999;
     }

     .contact-window.max {
         width: 58rem;
         ;
         height: 34rem;
         position: relative;
         border: outset 2px;
         position: absolute;
         background: #c0c0c0;
         z-index: 999999;
     }

     .contact-window {
         width: 100%;
         height: 90.25%;
         top: 0 !important;
         left: 0 !important;
         bottom: auto !important;
         border: outset 2px;
         position: absolute;
         background: #c0c0c0;
         z-index: 9999999;
     }

     .contact__img-github {
         position: absolute;
         bottom: 25%;
         left: 45%;
         z-index: 999;
         width: 12%;
     }

     .contact__img-mail {
         position: absolute;
         bottom: 77%;
         left: 73%;
         z-index: 999;
         width: 12%;
     }

     .contact__img-linkedin {
         position: absolute;
         bottom: 70%;
         left: 20%;
         z-index: 99;
         width: 12%;
     }

     .about-window.max {
         width: 57rem;
         height: 700px;
         border: outset 2px;
         position: absolute;
         left: 20%;
         top: 20%;
         background: #c0c0c0;
         z-index: 9999;
     }

     .about-window .text {
         width: 90%;
         display: inline-block;
     }

     .about__img-noam {
         width: 100%;
         filter: invert(10%);
     }

     /* Windows Maximized */
     /* About window maximized */
     .about-window {
         width: 100%;
         height: 90.25%;
         top: 0 !important;
         left: 0 !important;
         bottom: auto !important;
         border: outset 2px;
         background: #c0c0c0;
         position: absolute;
         z-index: 9999;
     }

     .about-window .text {
         width: 100%;
         display: inline-block;
     }

     .about-window>.content>.textbox>.about-text>.project__info,
     .about-window>.content>.textbox>.about-text>.project__info>.project__info {
         margin: 5rem;
     }

     .textbox>.about-text {
         width: 100%;
         margin: 1rem;
     }

     .textbox>.about-text>.project__info>p,
     .textbox>.about-text>.project__info>.project__info>p {
         font-size: 2rem;
     }

     .textbox>.about-text>h2 {
         font-size: 4.5rem;
         margin: 2rem;
     }

     .textbox>.about-text>.about__img-noam {
         width: 100%;
     }

     /* other project windows */
     .project-window.max>.content>.textbox>.project-header>#project-title {
         font-size: 6rem;
         margin: 0;
     }

     .project-window>.content>.textbox>.project-header>.project-description {
         font-size: 2.5rem;
     }


     .mariposa-project {
         width: 100%;
         height: 92%;
         font-size: 3rem;
         top: 0 !important;
         left: 0 !important;
         bottom: auto !important;
         border: outset 2px;
         background: #c0c0c0;
         position: relative;
         z-index: 9999;
     }

     .project-window>.content>.textbox>.project-header,
     .project-window>.content>.textbox>.project__content {
         width: 100%;
     }

     .project-window>.content>.textbox>.project-header.text,
     .project-window>.content>.textbox>.project__content {
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .project-window>.content>.textbox>.project-header {
         padding-top: 2rem;
     }

     .gerrit-window>.content>.textbox>.project-header {
         padding: 0;
     }

     .project-window>.content>.textbox>.project-header>.project__links {
         display: none;
     }

     .project-window>.content>.textbox>.project__content>.project__info.text {
         display: flex;
         flex-direction: column;
     }

     .project-window>.content>.textbox>.project__content>.project__info.text>p {
         font-size: 3rem;
     }

     .project-window>.content>.textbox>.project__content>.project__info.text>.project__info-tech {
         align-self: center;
         font-size: 3rem;
     }

     .project-window>.content>.textbox>.project__links-gerrit {
         display: none;
     }

     /* Start button */
     .start {
         position: absolute;
         bottom: 0;
         right: 0;
         width: 100vw;
         height: 10rem;
         background: #c3c6cd;
         border-top: 4.5px solid #deebf3;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         align-content: flex-start;
         -webkit-box-pack: justify;
         -ms-flex-pack: justify;
         justify-content: space-between;
     }

     .start__button {
         width: 37%;
         height: 89%;
         background: #c3c6cd;
         border-top: 3px solid #deebf3;
         border-left: 3px solid #deebf3;
         border-right: 3px solid black;
         border-bottom: 3px solid black;
         margin: 4.5px;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         z-index: 9999;
     }

     .start__button:active {
         border-top: 3px solid black;
         border-left: 3px solid black;
         border-right: 3px solid #deebf3;
         border-bottom: 3px solid #deebf3;
     }

     .start__button:hover {
         cursor: pointer;
     }

     .start__logo {
         width: 4.75rem;
         height: 3.5rem;
         position: relative;
         margin: 0.5rem;
     }

     .start__logo::after {
         content: "";
         background: url(https://banner2.kisspng.com/20180821/hrt/kisspng-windows-95-windows-98-microsoft-windows-transparen-windows-95-telegram-stickers-directory-5b7c3cffc178a8.4526616315348687357925.jpg) transparent;
         background-size: contain;
         mix-blend-mode: multiply;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         position: absolute;
         background-repeat: no-repeat;
         width: 6rem;
         height: 6rem;
     }

     .start__text {
         font-size: 3.25rem;
         font-weight: bold;
     }

     .start__time {
         width: 18%;
         height: 76%;
         background: #c3c6cd;
         border-top: 6px solid #85888f;
         border-left: 6px solid #85888f;
         border-right: 6px solid #deebf3;
         border-bottom: 6px solid #deebf3;
         margin: 0.75rem;
         margin-right: 0.75rem;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         position: absolute;
         right: 0;
     }

     .start__time-text {
         margin: auto;
         font-size: 2.5rem;
     }

     .start__menu-main {
         background: #c3c6cd;
         border-top: 2px solid #deebf3;
         border-left: 2px solid #deebf3;
         border-right: 2px solid black;
         border-bottom: 2px solid black;
         width: 47%;
         display: none;
         position: absolute;
         bottom: 10rem;
         z-index: 999999999999999;
     }

     .start__menu-main-side {
         background: #85888f;
         width: 19%;
     }

     .start__menu-main-side-text {
         position: relative;
         top: 20rem;
     }

     .start__menu-main-side-text-windows {
         font-weight: bold;
         color: #c3c6cd;
         -webkit-transform: rotate(270deg);
         transform: rotate(270deg);
         font-size: 3.5rem;
         margin-bottom: 0px;
         margin-left: 0.25rem;
     }

     .start__menu-main-side-text-nintyfive {
         color: white;
         -webkit-transform: rotate(270deg);
         transform: rotate(270deg);
         margin-bottom: 14rem;
         font-size: 3.5rem;
         margin-left: 0.5rem;
     }

     .start__menu-main-items {
         padding: 0;
         width: 100%;
     }

     .start__menu-main-items .icon {
         width: 5.5rem;
         height: 5.5rem;
         padding-left: 1rem;
         padding-right: 1.5rem;
     }

     .start__menu-main-items-item {
         font-size: 2.75rem;
         width: 100%;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
     }

     .start__menu-main-items-item-img-projects,
     .start__menu-main-items-item-img-settings,
     .start__menu-main-items-item-img-shutdown {
         height: 100%;
         mix-blend-mode: multiply;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         background-size: contain;
         margin: 0px;
     }

     .start__menu-main-items-item-arrowright {
         width: 0.5rem;
         height: 0.5rem;
         border-top: 0.75rem solid transparent;
         border-bottom: 0.75rem solid transparent;
         border-left: 0.75rem solid black;
         margin-left: auto;
         margin-right: 1.5rem
     }

     .start__menu-main-items-item:hover {
         background: var(--color-accent);
     }

     .start__menu-main-items-item:hover .start__menu-main-items-item-title {
         color: white;
     }

     .start__menu-main-items-item:hover .start__menu-main-items-item-arrowright {
         border-top: 0.25rem solid transparent;
         border-bottom: 0.25rem solid transparent;
         border-left: 0.25rem solid white;
     }

     .start__menu-main-items-list1 {
         margin: 0;
         padding: 0;
         border-bottom: 1px solid #85888f;
     }

     .start__menu-main-items-list2 {
         margin: 0;
         padding: 0;
         border-top: 1px solid #deebf3;
     }

     .start__menu-sub {
         background: #c3c6cd;
         border-top: 2px solid #deebf3;
         border-left: 2px solid #deebf3;
         border-right: 2px solid black;
         border-bottom: 2px solid black;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         width: 98%;
         left: 100%;
         padding: 0;
         display: none;
         position: absolute;
     }

     .start__menu-sub .icon {
         width: 3.5rem;
         height: 3.5rem;
         margin-right: 1.5rem;
     }

     .start__menu-sub-items-item {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         padding: 1.5rem 1.5rem 1rem 0.5rem;
     }

     .start__menu-sub-items-item:hover {
         background: var(--color-accent);
     }

     .start__menu-sub-items-item:hover .start__menu-sub-items-item-title {
         color: white;
     }

     .start__menu-sub-items-item:hover .start__menu-sub-items-item-arrowright {
         border-top: 0.25rem solid transparent;
         border-bottom: 0.25rem solid transparent;
         border-left: 0.25rem solid white;
     }

     .start__menu-sub-items-item-title {
         margin: 0.5rem 0;
     }

     .tasks {
         width: 90%;
         display: flex;
         flex-direction: row;
         justify-content: flex-start;
     }

     .sub__projects {
         bottom: 43%;
     }

     .desktop-icon {
         position: absolute;
         height: 9.25rem;
         width: 9.25rem;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
         -ms-flex-direction: column;
         flex-direction: column;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
     }

     .desktop-icon__icon {
         height: 3rem;
     }

     .desktop-icon__text {
         color: white;
         font-size: 2.5rem;
         margin-top: 0.5rem;
         margin-left: 0.75rem;
         margin-bottom: 0;
         text-align: center;
         text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
     }

     .desktop-icon-mariposa__text {
         margin-top: 8rem;
         margin-left: 2rem;
     }

     .desktop-icon:hover {
         cursor: pointer;
     }

     /* Desktop icons */
     .mariposa {
         top: 3.5rem;
         left: 3.5rem;
     }

     .spotavibe {
         top: 20rem;
         left: 3.5rem;
     }

     .gerrit {
         top: 37rem;
         left: 3.5rem;
     }

     .music-vis {
         top: 3.5rem;
         left: 20rem;
     }

     /* Desktop images */
     .mariposa-img {
         display: inline-block;
         width: 10rem;
     }

     .spotavibe-img {
         display: inline-block;
         width: 9.5rem;
     }

     .musicviz-img {
         display: inline-block;
         margin-bottom: 0.5rem;
         width: 7rem;
     }

     .gerrit-img {
         display: inline-block;
         width: 10rem;
         z-index: 2;
     }

     /*  Menubar */
     .underline {
         text-decoration: underline;
     }

     .menu-open {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         transition: visibility 0s, opacity 0.5s linear;
     }

     .volume-img {
         width: 3.5rem;
     }

     .shutdown {
         margin-top: 1rem;
     }

     .task {
         display: none;
     }

     .task.active {
         display: none;
     }

     .task__icon-contact {
         width: 14px;
         height: 14px;
         margin: 6px;
         background-image: url("./images/contact_01_small.png");
         background-repeat: no-repeat;
         background-position: center center;
     }

     .about-task {
         width: 157px;
         top: 1px;
         bottom: 1px;
         border: outset 2px;
         font-weight: 400;
         font-size: 14px;
         display: flex;
         align-content: flex-start;
         align-items: center;
     }

     .task__icon-about {
         width: 32px;
         height: 32px;
         background-image: url("./images/about_01_small.png");
         background-repeat: no-repeat;
         background-position: center center;
     }

     .active {
         border: inset 2px;
     }

     /* social media buttons */
     .tasks__social {
         display: flex;
         flex-direction: row;
         align-items: center;
     }

     .tasks__sidebar {
         height: 85px;
         margin: 5px;
         align-self: center;
         border: outset 4px;
     }

     .tasks__stripe {
         height: 100%;
         width: 2px;
         border: inset 2px;
     }

     .task__icon-gerrit {
         background-image: url("./images//Gerrit_01_small.png");
         width: 42px;
         height: 42px;
         background-repeat: no-repeat;
         background-position: center center;
         background-size: contain;
         margin-top: 21px;
     }

     .task__icon-mariposa {
         width: 42px;
         height: 42px;
         background-image: url("./images//Mariposa_01_small.png");
         background-repeat: no-repeat;
         background-position: center center;
         background-size: contain;
         margin-top: 21px;
     }

     .task__icon-spotavibe {
         background-image: url("./images//Spotavibe_01_small.png");
         width: 42px;
         height: 42px;
         background-repeat: no-repeat;
         background-position: center center;
         background-size: contain;
         margin-top: 21px;
     }

     .task__icon-musicviz {
         background-image: url("./images//Muxisvi_01_small.png");
         width: 42px;
         height: 42px;
         background-repeat: no-repeat;
         background-position: center center;
         background-size: contain;
         margin-top: 7px;
     }

     img {
         width: 34px;
         background: transparent;
         -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
         zoom: 1;
         margin-top: 7px;
     }

     #github-icon,
     #linkedin-icon,
     #email-icon {
         width: 5rem;
         height: 5rem;
     }

     #github-icon:hover,
     #linkedin-icon:hover,
     #email-icon:hover {
         cursor: pointer;
         background: var(--color-accent);
     }

     .linkedin-icon,
     .email-icon {
         width: 32px;
         height: 32px;
         background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 32 32'%3E%3Cpath d='M7 23L23 7M23 23L7 7M15 26V4M26 15H4' stroke='black' stroke-width='2'/%3E%3Ccircle cx='15' cy='15' r='7'/%3E%3Ccircle cx='13' cy='13' r='2' fill='white'/%3E%3C/svg%3E");
         background-repeat: no-repeat;
         background-position: center center;
     }
 }