@media only screen and (min-width: 992px) {
  /* Themes */
  .theme-purplelady {
    --color-primary: rgb(77, 37, 77);
    --color-secondary: #3f1d44;
    --color-accent: #44193e;
    --font-color: white;
  }

  .theme-oceanview {
    --color-primary: #1c4375;
    --color-secondary: #131352;
    --color-accent: #0a127c;
    --font-color: white;
  }

  .theme-windowsclassic {
    --color-primary: rgb(0, 131, 130);
    --color-secondary: #131352;
    --color-accent: #0a127c;
    --font-color: white;
  }

  .theme-eatyourgreens {
    --color-primary: rgb(38, 85, 38);
    --color-secondary: rgb(31, 56, 31);
    --color-accent: rgb(106, 143, 106);
    --font-color: rgb(165, 165, 87);
  }

  .theme-burnbabyburn {
    --color-primary: rgb(75, 24, 24);
    --color-secondary: rgb(102, 12, 12);
    --color-accent: rgb(122, 3, 3);
    --font-color: rgb(65, 5, 5);
  }

  /*  Monitor */
  body {
    background: var(--color-primary);
    font-family: verdana, Sans-Serif;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
  }

  .screensaver {
    width: 100%;
    height: 100%;
    z-index: 9999999;
    position: absolute;
    left: 0;
    top: 0;
    background: url("images/ScreenSaver_01.gif");
  }

  .container__monitor {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--color-primary);
  }

  .container__background {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .monitor__background-img {
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    width: 100vw;
  }

  .link__instagram {
    position: absolute;
    bottom: 4.75rem;
    background-color: white;
    font-size: 1.25rem;
    margin-top: 0.25rem;
    align-self: center;
    text-decoration: none;
    color: black;
  }

  /* Settings window */
  .settings-window {
    width: 28rem;
    height: 27rem;
    border: outset 2px;
    background: #c0c0c0;
    position: relative;
    left: 12.5rem;
    top: 12.5rem;
    z-index: 99999999999;
    box-shadow: 3px 3px;
  }

  .settings-window > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .pc {
    width: 13rem;
    height: 11.25rem;
    background: url("./images/desktop.png") no-repeat;
    overflow: auto;
    margin: auto;
    margin-top: 2rem;
  }

  .pc__background-color {
    width: 9.5rem;
    height: 7rem;
    border: inset 2px;
    margin-left: 0.8rem;
    margin-top: 0.9rem;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .pc__background-img {
    width: 5.5rem;
    height: 4rem;
    margin: auto;
    align-self: center;
  }

  .display__props {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .display__props-themes-options,
  .display__props-background-options {
    width: 10.5rem;
    height: 5rem;
    border: inset;
    background: white;
    margin: 0.25rem;
    color: black;
    overflow: auto;
    white-space: nowrap;
  }

  .display__props-options {
    padding: 0;
    margin: 0;
  }

  .display__props-themes > p,
  .display__props-background > p {
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .display__props-background-image {
    padding: 0;
    padding-left: 0.25rem;
    margin-left: 0.5rem;
    margin-top: 0;
    cursor: pointer;
    background-color: white;
    color: black;
  }

  .display__props-background-image.active {
    background-color: var(--color-primary);
    color: white;
  }

  .display__props-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .theme {
    padding: 0;
    padding-left: 0.25rem;
    margin-left: 0.5rem;
    margin-top: 0;
    cursor: pointer;
    color: black;
    background-color: white;
  }

  .theme.active {
    background-color: var(--color-primary);
    color: white;
  }

  .classic-btn {
    width: 5.5rem;
    height: 1.5rem;
    margin: 0.25rem;
    border: 1px solid;
    box-shadow: 2px 2px;
  }

  .classic-btn:active {
    outline: var(--color-primary) auto 0.25rem;
  }

  #yossi1 {
    display: none;
  }

  #djamillia {
    display: none;
  }

  .djamillia {
    display: none;
  }

  .yossi2 {
    width: 100vw;
  }

  .chris,
  .vika,
  .shruti,
  .kathi {
    width: 30vw;
  }

  .since95 {
    width: 30vw;
    height: 50vh;
  }

  .pc__background-img.djamillia,
  .pc__background-img.yossi2 {
    width: 100%;
    height: 100%;
  }

  .pc__background-img.kathi,
  .pc__background-img.vika,
  .pc__background-img.chris,
  .pc__background-img.shruti {
    height: 80%;
    width: 40%;
    align-self: center;
    align-items: center;
  }

  .pc__background-img.since95 {
    width: 40%;
    height: 50%;
  }

  /*  Project windows */
  .project-window {
    width: 37.5rem;
    height: 37.5rem;
    border: outset 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: #c0c0c0;
    z-index: 10;
  }

  .project-window.max {
    width: 100%;
    height: auto;
    top: 0 !important;
    left: 0 !important;
    bottom: 3.5rem;
    border: outset 2px;
    background: #c0c0c0;
    position: absolute;
    z-index: 10;
  }

  .window__titlebar {
    background: var(--color-secondary);
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 1.5rem;
    border: none;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 0.5rem;
  }

  /* Buttons project windows */
  .notepad-minimize,
  .notepad-maximize,
  .notepad-exit {
    height: 60%;
    display: block;
    float: right;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .button-minimize,
  .button-maximize,
  .button-exit {
    background: #bfbfbf;
    height: 100%;
    width: 1rem;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid white;
    border-top: 1px solid white;
    color: black;
  }

  .icon-exit {
    position: absolute;
    top: 0;
    right: 0.25rem;
  }

  .icon-maximize {
    border-bottom: 1px solid black;
    border-top: 3px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 51%;
    width: 78%;
    display: block;
    margin: auto;
    margin-top: 1.2px;
  }

  .icon-minimize {
    border-bottom: 2px solid black;
    width: 80%;
    height: 73%;
    display: block;
    margin: auto;
    margin-left: 1.5px;
  }

  .content {
    position: absolute;
    top: 1.5rem;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .textbox {
    border: inset 2px;
    background: white;
    color: black;
    margin: 0.25rem;
    height: 90%;
    padding: 2px;
    font-size: 1.25rem;
    overflow: auto;
    text-align: center;
  }

  .textbox:focus {
    border: inset 2px;
    outline: none;
  }

  .textbox.max {
    border: inset 2px;
    background: #fff;
    margin: 0.25rem;
    height: 93%;
    padding: 2px;
    font-size: 1rem;
    text-align: center;
    position: relative;
  }

  .text {
    width: 80%;
    display: inline-block;
  }

  #project-title {
    font-size: 3rem;
    margin: 0;
  }

  .project-description {
    font-size: 1rem;
    margin-bottom: 1.6rem;
  }

  .project__links {
    display: flex;
    flex-direction: column;
    line-height: 1.8rem;
    font-size: 1rem;
  }

  .project__links-gerrit {
    display: flex;
    flex-direction: column;
    line-height: 1.8rem;
    font-size: 1rem;
    margin-top: 2.2rem;
    margin-bottom: 1.5rem;
  }

  .project__img {
    width: 90%;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    margin: 1.4rem;
    border-radius: 2%;
  }

  .project__info-tech {
    margin: 1rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    padding: 0;
  }

  .project__info-tech > p {
    margin: 0.3rem;
  }

  .project__img-gerrit {
    height: 35rem;
    margin: 2rem;
  }

  .project__img-gerrit > img {
    width: auto;
    height: 100%;
    margin: 0rem;
  }

  .project__imgs {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  /* Mariposa project window */
  .mariposa-project {
    width: 37.5rem;
    height: 25rem;
    border: outset 2px;
    position: relative;
    background: #c0c0c0;
    z-index: 9999;
  }

  /* Contact window */
  .contact-window {
    width: 70rem;
    height: 36rem;
    border: outset 2px;
    position: absolute;
    background: #c0c0c0;
    z-index: 9999;
  }

  .contact-window.max {
    width: 100%;
    height: 92%;
    top: 0;
    left: 0;
    bottom: im;
    border: outset 2px;
    background: #c0c0c0;
    z-index: 9999;
  }

  .contact__img-github {
    position: absolute;
    bottom: 25%;
    left: 48%;
    z-index: 999;
    width: 6%;
  }

  .contact__img-mail {
    position: absolute;
    bottom: 64%;
    left: 69%;
    z-index: 999;
    width: 6%;
  }

  .contact__img-linkedin {
    position: absolute;
    bottom: 66%;
    left: 25%;
    z-index: 99;
    width: 5%;
  }

  /* About window */
  .about-window {
    width: 37.5rem;
    height: 43.75rem;
    border: outset 2px;
    position: absolute;
    left: 0.75rem;
    top: 0.75rem;
    background: #c0c0c0;
    z-index: 9999;
  }

  .about-window .text {
    width: 90%;
    display: inline-block;
  }

  .about__img-noam {
    width: 100%;
    filter: invert(10%);
  }

  /* Windows Maximized */
  /* About window maximized */
  .about-window.max {
    width: 100%;
    height: 92%;
    top: im;
    left: im;
    bottom: im;
    border: outset 2px;
    background: #c0c0c0;
    position: relative;
    z-index: 9999;
  }

  .about-window.max .text {
    width: 60%;
    display: inline-block;
  }

  .textbox.max > .about-text {
    width: 50%;
    margin: 1rem;
  }

  .textbox.max > .about-text > h2 {
    font-size: 3.25rem;
    margin: 1.3rem;
  }

  .textbox.max > .about-text > p {
    font-size: 1rem;
  }

  .textbox.max > .about-text > .about__img-noam {
    width: 66%;
  }

  .project-header-img-musicviz {
    width: 6rem;
    margin-top: 2.75rem;
  }

  .project-header-img-mariposa {
    margin-top: 1.5rem;
  }

  .project-header-spotavibe-img1 {
    width: 4rem;
  }

  .project-header-spotavibe-img2 {
    width: 6rem;
    margin-top: 2.5rem;
  }

  .project-header-gerrit-img {
    width: 3.5rem;
  }

  .project-window > .content > .textbox.max > .project-header,
  .project-window > .content > .textbox.max > .project__content {
    width: calc(100% / 3);
  }

  .gerrit-window.max > .content > .textbox.max > .project-header {
    margin-top: 3%;
  }

  .gerrit-window.max > .content > .textbox.max > .project-header,
  .gerrit-window.max > .content > .textbox.max > .project__content {
    margin-left: 3%;
  }

  .project-window > .content > .textbox.max > .project__img-wrapper {
    width: calc(100% / 3 * 2);
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .project-window.max > .content > .textbox.max > .project-header.text,
  .project-window.max > .content > .textbox.max > .project__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* remove extra project-links */
  .project-window
    > .content
    > .textbox.max
    > .project__content
    > .project__links {
    display: none;
  }

  .project-window
    > .content
    > .textbox.max
    > .project__content
    > .project__info.text {
    display: flex;
    flex-direction: column;
  }

  .project-window
    > .content
    > .textbox.max
    > .project__content
    > .project__info.text
    > p {
    font-size: 1rem;
  }

  .project-window
    > .content
    > .textbox.max
    > .project__content
    > .project__info.text
    > .project__info-tech {
    align-self: center;
    font-size: 1rem;
    margin: 1rem;
  }

  /* gerrit max */
  .gerrit-window.max
    > .content
    > .textbox.max
    > .project__content
    > .project__img-wrapper {
    width: calc(100% / 3 * 2);
    position: absolute;
    left: 46%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
  }

  .gerrit-window.max
    > .content
    > .textbox.max
    > .project-header
    > .project__links-gerrit {
    margin: 0;
  }

  .project-window.max > .content > .textbox.max > .project__links-gerrit,
  .project-window.max
    > .content
    > .textbox.max
    > .project-header
    > .project-header-img2 {
    display: none;
  }

  .gerrit-window.max
    > .content
    > .textbox.max
    > .project-header
    > .project-header-img {
    margin-top: 0rem;
  }

  /* Start button */
  .start {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background: #c3c6cd;
    border-top: 3px solid #deebf3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-content: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .start__button {
    width: 10%;
    height: 78%;
    background: #c3c6cd;
    border-top: 2px solid #deebf3;
    border-left: 2px solid #deebf3;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .start__button:active {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid #deebf3;
    border-bottom: 2px solid #deebf3;
  }

  .start__button:hover {
    cursor: pointer;
  }

  .start__logo {
    width: 3.25rem;
    height: 2.5rem;
    position: relative;
    margin-top: 0.75rem;
    background: transparent;
  }

  .start__logo::after {
    content: "";
    background: url(https://banner2.kisspng.com/20180821/hrt/kisspng-windows-95-windows-98-microsoft-windows-transparen-windows-95-telegram-stickers-directory-5b7c3cffc178a8.4526616315348687357925.jpg)
      transparent;
    background-size: contain;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .start__text {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .start__time {
    width: 6.5rem;
    height: 72%;
    background: #c3c6cd;
    border-top: 2px solid #85888f;
    border-left: 2px solid #85888f;
    border-right: 2px solid #deebf3;
    border-bottom: 2px solid #deebf3;
    margin: 0.25rem;
    margin-right: 0.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
  }

  .start__time-text {
    margin: auto;
    font-size: 1rem;
  }

  .start__menu-main {
    background: #c3c6cd;
    border-top: 2px solid #deebf3;
    border-left: 2px solid #deebf3;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 15%;
    display: none;
    position: absolute;
    bottom: 3.5rem;
    z-index: 99999;
  }

  .start__menu-main-side {
    background: #85888f;
    width: 14%;
  }

  .start__menu-main-side-text {
    position: relative;
    top: 4.5rem;
  }

  .start__menu-main-side-text-windows {
    font-weight: bold;
    color: #c3c6cd;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 1.75rem;
    margin-left: 0.25rem;
  }

  .start__menu-main-side-text-nintyfive {
    color: white;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-bottom: 7rem;
    font-size: 1.75rem;
    margin-left: 0.25rem;
  }

  .start__menu-main-items {
    padding: 0;
    width: 100%;
  }

  .start__menu-main-items .icon {
    width: 3rem;
    height: 3rem;
    margin: 0.75rem;
  }

  .start__menu-main-items-item {
    font-size: 1rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .programs-img.icon,
  .settings-img.icon,
  .about-img.icon,
  .contact-img.icon,
  .shutdown-img.icon {
    width: 100%;
    height: 100%;
    margin: 0px;
  }

  .start__menu-main-items-item-img-projects,
  .start__menu-main-items-item-img-settings,
  .start__menu-main-items-item-img-about,
  .start__menu-main-items-item-img-contact,
  .start__menu-main-items-item-img-shutdown {
    width: 2.5rem;
    height: 2.5rem;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: contain;
    margin: 0.5rem;
  }

  .start__menu-main-items-item-arrowright {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
    margin-left: auto;
    margin-right: 0.5rem;
  }

  .start__menu-main-items-item:hover {
    background: var(--color-accent);
  }

  .start__menu-main-items-item:hover .start__menu-main-items-item-title {
    color: white;
  }

  .start__menu-main-items-item:hover .start__menu-main-items-item-arrowright {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
  }

  .start__menu-main-items-list1 {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #85888f;
  }

  .start__menu-main-items-list2 {
    margin: 0;
    padding: 0;
    border-top: 1px solid #deebf3;
  }

  .start__menu-sub {
    background: #c3c6cd;
    border-top: 2px solid #deebf3;
    border-left: 2px solid #deebf3;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 10rem;
    left: 100%;
    padding: 0;
    display: none;
    position: absolute;
  }

  .start__menu-sub .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
  }

  .start__menu-sub-items-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .start__menu-sub-items-item:hover {
    background: var(--color-accent);
  }

  .start__menu-sub-items-item:hover .start__menu-sub-items-item-title {
    color: white;
  }

  .start__menu-sub-items-item:hover .start__menu-sub-items-item-arrowright {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid white;
  }

  .start__menu-sub-items-item-title {
    margin: 0.5rem 0;
  }

  .tasks {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .sub__projects {
    bottom: 65%;
  }

  .desktop-icon {
    position: absolute;
    height: 6.25rem;
    width: 6.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .desktop-icon__icon {
    height: 3.25rem;
  }

  .desktop-icon__text {
    color: white;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0;
    text-align: center;
  }

  .desktop-icon-mariposa__text {
    margin-top: 2rem;
    margin-left: 1rem;
  }

  .desktop-icon:hover {
    cursor: pointer;
  }

  /* Desktop icons */
  .mariposa {
    top: 0.75rem;
    left: 0.5rem;
  }

  .spotavibe {
    top: 9rem;
    left: 0.75rem;
  }

  .gerrit {
    top: 17.5rem;
    left: 0.75rem;
  }

  .music-vis {
    top: 1.25rem;
    left: 8.5rem;
  }

  /*  Menubar */
  .underline {
    text-decoration: underline;
  }

  .menu-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .volume-img {
    width: 1.75rem;
    margin-top: 0;
  }

  .settings-img {
    background-position: 88% 21%;
  }

  .shutdown-img {
    background-position: 75% 79%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .shutdown {
    margin-top: 0.5rem;
  }

  .settings {
    background-position: 75% 79%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .task {
    top: 1px;
    width: 12rem;
    bottom: 1px;
    border: outset 2px;
    font-weight: 400;
    font-size: 1.25rem;
    display: flex;
    align-content: flex-start;
    align-items: center;
  }

  .task__icon-contact {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0.5rem;
    background-image: url("./images/contact_01_small.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .about-task {
    width: 10rem;
    top: 1px;
    bottom: 1px;
    border: outset 2px;
    font-weight: 400;
    font-size: 0.75rem;
    display: flex;
    align-content: flex-start;
    align-items: center;
  }

  .task__icon-about {
    width: 2rem;
    height: 2rem;
    background-image: url("./images/about_01_small.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .active {
    border: inset 2px;
  }

  .mariposa-img {
    display: inline-block;
    width: 5rem;
  }

  .spotavibe-img {
    display: inline-block;
    width: 4.5rem;
  }

  .musicviz-img {
    display: inline-block;
    width: 3.5rem;
  }

  .gerrit-img {
    width: 4.5rem;
    z-index: 2;
  }

  /* social media buttons */
  .tasks__social {
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  .tasks__sidebar {
    height: 2.5rem;
    margin: 2px;
    align-self: center;
    border: outset 2px;
  }

  .tasks__stripe {
    height: 100%;
    width: 1px;
    border: inset 1px;
  }

  .task__icon-gerrit {
    width: 2rem;
    height: 2rem;
    background-image: url("./images//Gerrit_01_small.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .task__icon-mariposa {
    width: 2rem;
    height: 2rem;
    background-image: url("./images//Mariposa_01_small.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .task__icon-spotavibe {
    width: 2rem;
    height: 2rem;
    background-image: url("./images//spotavibe_01_small.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .task__icon-musicviz {
    width: 2rem;
    height: 2rem;
    background-image: url("./images//Muxisvi_01_small.png");

    background-repeat: no-repeat;
    background-position: center center;
  }

  img {
    width: 2.25rem;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
    zoom: 1;
    margin-top: 0.5rem;
  }

  #github-icon:hover,
  #linkedin-icon:hover,
  #email-icon:hover {
    cursor: pointer;
    background: var(--color-accent);
  }

  .linkedin-icon,
  .email-icon {
    width: 2rem;
    height: 2rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 32 32'%3E%3Cpath d='M7 23L23 7M23 23L7 7M15 26V4M26 15H4' stroke='black' stroke-width='2'/%3E%3Ccircle cx='15' cy='15' r='7'/%3E%3Ccircle cx='13' cy='13' r='2' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
