    /* Themes */
    .theme-purplelady {
        --color-primary: rgb(77, 37, 77);
        --color-secondary: #3f1d44;
        --color-accent: #44193e;
        --font-color: white
    }

    .theme-oceanview {
        --color-primary: #1c4375;
        --color-secondary: #131352;
        --color-accent: #0a127c;
        --font-color: white
    }

    .theme-windowsclassic {
        --color-primary: rgb(0, 131, 130);
        --color-secondary: #131352;
        --color-accent: #0a127c;
        --font-color: white
    }

    .theme-eatyourgreens {
        --color-primary: rgb(38, 85, 38);
        --color-secondary: rgb(31, 56, 31);
        --color-accent: rgb(106, 143, 106);
        --font-color: rgb(165, 165, 87);
    }

    .theme-burnbabyburn {
        --color-primary: rgb(75, 24, 24);
        --color-secondary: rgb(102, 12, 12);
        --color-accent: rgb(122, 3, 3);
        --font-color: rgb(65, 5, 5);
    }


    /*  Monitor */
    body {
        background: var(--color-primary);
        font-family: "minion-pro", times, serif;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .screensaver {
        width: 100%;
        height: 100%;
        z-index: 9999999;
        position: absolute;
        left: 0;
        top: 0;
        /* background: url("./images/ScreenSaver_mobile.gif"); */
    }

    .container__monitor {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: var(--color-primary);
    }

    .container__background {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .monitor__background-img {
        position: absolute;
        left: 50%;
        top: 46%;
        transform: translate(-50%, -50%);
        background-size: contain;
    }

    .link__instagram {
        position: absolute;
        bottom: 15rem;
        background-color: white;
        font-size: 3rem;
        align-self: center;
        text-decoration: none;
        color: black;
    }

    /* Settings window */
    .settings-window {
        width: 46rem;
        height: 52rem;
        border: outset 2px;
        background: #c0c0c0;
        position: relative;
        left: 4rem;
        top: 4rem;
        z-index: 9991;
        box-shadow: 0.25rem 0.25rem;
    }

    .pc {
        background: url("./images/desktop.png") no-repeat;
        background-size: contain;
        overflow: auto;
        width: 20rem;
        height: 16rem;
        margin-top: 3.5rem;
        margin-left: 14rem;
    }

    .pc__background-color {
        width: 14.5rem;
        height: 10.5rem;
        border: inset 2px;
        margin-left: 1.25rem;
        margin-top: 1.5rem;
        background-color: var(--color-primary);
    }

    .pc__background-img {
        width: 5.75rem;
        height: 6.5rem;
        margin: auto;
        margin-top: 1.75rem;
        margin-left: 4.5rem;
    }

    .display__props {
        display: flex;
        justify-content: center;
        margin-top: 1.75rem;
        margin-left: 0.75rem;
    }

    .display__props-themes-options,
    .display__props-background-options {
        width: 20.25rem;
        height: 14rem;
        border: inset;
        background: white;
        margin: 0.75rem;
        color: black;
        overflow: auto;
        white-space: nowrap;
    }

    .display__props-options {
        padding: 0;
        margin: 0;
    }

    .display__props-themes>p,
    .display__props-background>p {
        color: black;
        margin: 0;
        padding: 0;
        font-size: 2.25rem;
        text-align: center;
        text-decoration: underline;
    }


    .display__props-background-image {
        padding-left: 0.25rem;
        margin-left: 0.5rem;
        margin-top: 0;
        cursor: pointer;
        background-color: white;
        color: black;
        font-size: 2rem;
        padding: 0.25rem;
    }

    .display__props-background-image.active {
        background-color: var(--color-primary);
        color: white;
    }

    .display__props-buttons {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    .theme {
        padding-left: 0.25rem;
        margin-left: 0.25rem;
        margin-top: 0;
        cursor: pointer;
        color: black;
        font-size: 2rem;
        background-color: white;
        padding: 0.25rem;
    }

    .theme.active {
        background-color: var(--color-primary);
        color: white;
    }

    .artist {
        position: absolute;
        bottom: 77px;
        background-color: white;
        font-size: 20px;
        margin-top: 3px;
        left: 50%;
    }

    .classic-btn {
        width: 10rem;
        height: 3.75rem;
        margin: 0.75rem;
        border: 1px solid;
        box-shadow: 0.25rem 0.25rem;
        font-size: 1.75rem;
    }

    .classic-btn:active {
        outline: var(--color-primary) auto 5px;
    }

    /*  Project windows */
    .project-window {
        width: 600px;
        height: 600px;
        border: outset 2px;
        position: absolute;
        top: 0;
        left: 0;
        background: #c0c0c0;
        z-index: 9999;
    }

    .project-window.max {
        width: 100%;
        height: 91%;
        top: 0 !important;
        left: 0 !important;
        bottom: auto !important;
        border: outset 2px;
        background: #c0c0c0;
        position: relative;
        z-index: 9999;
    }

    .window__titlebar {
        background: var(--color-secondary);
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        height: 7rem;
        border: none;
        color: #fff;
        font-size: 2.5rem;
        line-height: 2.5rem;
        padding-left: 1rem;
        padding-top: 0.5rem;
    }

    /* Buttons project windows */
    .notepad-minimize,
    .notepad-maximize,
    .notepad-exit {
        height: 69%;
        display: block;
        float: right;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .button-minimize,
    .button-maximize,
    .button-exit {
        background: #bfbfbf;
        height: 100%;
        width: 6rem;
        border-right: 6px solid black;
        border-bottom: 6px solid black;
        border-left: 3px solid white;
        border-top: 3px solid white;
        color: black;
        margin: 2px;
    }

    .icon-exit {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        font-size: 5rem;
    }

    .icon-maximize {
        border-bottom: 3.5px solid black;
        border-top: 7px solid black;
        border-left: 3.5px solid black;
        border-right: 3.5px solid black;
        height: 67%;
        width: 78%;
        display: block;
        margin: auto;
        margin-top: 3.2px;
        font-weight: bold;
    }

    .icon-minimize {
        border-bottom: 4px solid black;
        width: 80%;
        height: 73%;
        display: block;
        margin: auto;
        margin-left: 0.5rem;
        font-weight: bold;
    }

    .content {
        position: absolute;
        top: 8rem;
        bottom: 0px;
        left: 0px;
        right: 0.5rem;
    }

    .textbox {
        border: inset 2px;
        background: white;
        color: var(--color-accent);
        margin: 0.25rem;
        height: 90%;
        padding: 2px;
        overflow: auto;
        text-align: center;
    }

    .textbox:focus {
        border: inset 2px;
        outline: none;
    }

    .textbox.max {
        border: inset 2px;
        background: #fff;
        margin: 5px;
        height: 93%;
        padding: 2px;
        font-size: 14px;
        overflow: auto;
        text-align: center;
    }

    .text {
        width: 80%;
        display: inline-block;
    }

    #project-title {
        font-size: 6rem;
        margin: 0;
    }

    .project-header-img-musicviz {
        width: 10rem;
    }

    .project-description {
        font-size: 2rem;
        margin-bottom: 1.6rem;
    }

    .project__links {
        display: flex;
        flex-direction: column;
        line-height: 2rem;
        font-size: 2.5rem;
        margin-bottom: 20px;
        margin: 0.25rem;
    }

    .project__links>span {
        margin: 0.5rem;
    }

    .project__links-gerrit {
        display: flex;
        flex-direction: column;
        line-height: 1.8rem;
        font-size: 1.2rem;
        margin-top: 2.2rem;
        margin-bottom: 1.5rem;
    }

    .project__img {
        width: 90%;
        -moz-box-shadow: 10px 10px 5px #ccc;
        -webkit-box-shadow: 10px 10px 5px #ccc;
        box-shadow: 10px 10px 5px #ccc;
        margin: 1.4rem;
    }

    .project__info-tech {
        width: 100%;
        margin-top: 2.25rem;
    }


    .project__img-gerrit {
        width: 250px;
        margin: 10px;
        border: 2px solid #fff;
        -moz-box-shadow: 10px 10px 5px #ccc;
        -webkit-box-shadow: 10px 10px 5px #ccc;
        box-shadow: 10px 10px 5px #ccc;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
    }

    .project__imgs {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }

    /* Mariposa project window */
    .mariposa-project {
        width: 600px;
        height: 400px;
        border: outset 2px;
        position: relative;
        background: #c0c0c0;
        z-index: 9999;
    }


    /* Contact window */
    .contact-window {
        width: 850px;
        height: 400px;
        border: outset 2px;
        position: absolute;
        background: #c0c0c0;
        z-index: 9999;
    }

    .contact-window.max {
        width: 100%;
        height: 91.5%;
        top: 0 !important;
        left: 0 !important;
        bottom: auto !important;
        border: outset 2px;
        background: #c0c0c0;
        z-index: 9999;
    }

    .contact__img-github {
        position: absolute;
        bottom: 25%;
        left: 45%;
        z-index: 999;
        width: 6%;
    }

    .contact__img-mail {
        position: absolute;
        bottom: 57%;
        left: 60%;
        z-index: 999;
        width: 6%;
    }

    .contact__img-linkedin {
        position: absolute;
        bottom: 66%;
        left: 20%;
        z-index: 99;
        width: 5%;
    }

    /* About window */
    .about-window {
        width: 600px;
        height: 700px;
        border: outset 2px;
        position: absolute;
        left: 10;
        top: 10;
        background: #c0c0c0;
        z-index: 9999;
    }

    .about-window .text {
        width: 90%;
        display: inline-block;
    }

    .about__img-noam {
        width: 100%;
        filter: invert(10%);
    }

    /* Windows Maximized */
    /* About window maximized */
    .about-window.max {
        width: 100%;
        height: 92%;
        top: 0 !important;
        left: 0 !important;
        bottom: auto !important;
        border: outset 2px;
        background: #c0c0c0;
        position: relative;
        z-index: 9999;
        text-align: center;
    }

    .about-window.max .text {
        width: 100%;
        display: inline-block;
    }

    .about-window.max>.content>.textbox.max>.about-text>.project__info,
    .about-window.max>.content>.textbox.max>.about-text>.project__info>.project__info {
        margin: 5rem;
    }


    .textbox.max>.about-text {
        width: 100%;
        margin: 1rem;
    }

    .textbox.max>.about-text>.project__info>p,
    .textbox.max>.about-text>.project__info>.project__info>p {
        font-size: 1.5rem;
    }

    .textbox.max>.about-text>h2 {
        font-size: 2.5rem;
        margin: 2rem;
    }

    .textbox.max>.about-text>.about__img-noam {
        width: 66%;
    }

    /* other project windows */
    .mariposa-project.max {
        width: 100%;
        height: 92%;
        font-size: 3rem;
        top: 0 !important;
        left: 0 !important;
        bottom: auto !important;
        border: outset 2px;
        background: #c0c0c0;
        position: relative;
        z-index: 9999;
    }

    .project-window>.content>.textbox.max>.project-header,
    .project-window>.content>.textbox.max>.project__content {
        width: 100%;
    }


    .project-window.max>.content>.textbox.max>.project-header.text,
    .project-window.max>.content>.textbox.max>.project__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-window.max>.content>.textbox.max>.project-header {
        padding-top: 2rem;
    }

    .gerrit-window.max>.content>.textbox.max>.project-header {
        padding: 0;
    }

    /* remove extra project-links */
    .project-window>.content>.textbox.max>.project__content>.project__links {
        display: none;
    }

    .project-window>.content>.textbox.max>.project__content>.project__info.text {
        display: flex;
        flex-direction: column;
    }

    .project-window>.content>.textbox.max>.project__content>.project__info.text>p {
        font-size: 1.5rem;
    }

    .project-window>.content>.textbox.max>.project__content>.project__info.text>.project__info-tech {
        align-self: center;
        font-size: 1.5rem;
    }

    .project-window.max>.content>.textbox.max>.project__links-gerrit {
        display: none;
    }

    /* Start button */
    .start {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10rem;
        background: #c3c6cd;
        border-top: 4.5px solid #deebf3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-content: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .start__button {
        width: 37%;
        height: 89%;
        background: #c3c6cd;
        border-top: 3px solid #deebf3;
        border-left: 3px solid #deebf3;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        margin: 4.5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .start__button:active {
        border-top: 3px solid black;
        border-left: 3px solid black;
        border-right: 3px solid #deebf3;
        border-bottom: 3px solid #deebf3;
    }

    .start__button:hover {
        cursor: pointer;
    }

    .start__logo {
        width: 5rem;
        height: 3.5rem;
        position: relative;
        margin: 0.5rem;
    }

    .start__logo::after {
        content: "";
        background: url(https://banner2.kisspng.com/20180821/hrt/kisspng-windows-95-windows-98-microsoft-windows-transparen-windows-95-telegram-stickers-directory-5b7c3cffc178a8.4526616315348687357925.jpg) transparent;
        background-size: contain;
        mix-blend-mode: multiply;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-repeat: no-repeat;
        width: 6rem;
        height: 6rem;
    }

    .start__text {
        font-size: 3.5rem;
        font-weight: bold;
    }

    .start__time {
        width: 20%;
        height: 88%;
        background: #c3c6cd;
        border-top: 6px solid #85888f;
        border-left: 6px solid #85888f;
        border-right: 6px solid #deebf3;
        border-bottom: 6px solid #deebf3;
        margin: 12px;
        margin-right: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .start__time-text {
        margin: auto;
        font-size: 2.5rem;
    }

    .start__menu-main {
        background: #c3c6cd;
        border-top: 2px solid #deebf3;
        border-left: 2px solid #deebf3;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        width: 38%;
        display: none;
        position: absolute;
        bottom: 10rem;
        z-index: 99999;
    }

    .start__menu-main-side {
        background: #85888f;
        width: 19%;
    }

    .start__menu-main-side-text {
        position: relative;
        margin-top: 25rem;
    }

    .start__menu-main-side-text-windows {
        font-weight: bold;
        color: #c3c6cd;
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        font-size: 3rem;
        margin-bottom: 0px;
        margin-left: 0.25rem;
    }

    .start__menu-main-side-text-nintyfive {
        color: white;
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        margin-bottom: 9rem;
        font-size: 3rem;
        margin-left: 0.5rem;
    }

    .start__menu-main-items {
        padding: 0;
        width: 100%;
    }

    .start__menu-main-items .icon {
        width: 4.5rem;
        height: 4.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .start__menu-main-items-item {
        font-size: 2.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.75rem;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .start__menu-main-items-item-img-projects {
        background: url(https://i.ya-webdesign.com/images/windows-95-icons-png-7.png);
        width: 61px;
        height: 60px;
        mix-blend-mode: multiply;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: contain;
        margin: auto;
    }

    .start__menu-main-items-item-img-settings {
        background: url("./images/settings.png");
        width: 68px;
        height: 60px;
        mix-blend-mode: multiply;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: contain;
        margin-right: 23px;
        margin-left: 29px;
    }

    .start__menu-main-items-item-img-shutdown {
        background: url("./images/shutdown.png");
        width: 68px;
        height: 60px;
        mix-blend-mode: multiply;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: contain;
        margin-right: 23px;
        margin-left: 29px;
    }

    .start__menu-main-items-item-arrowright {
        width: 4px;
        height: 4px;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid black;
        margin-left: auto;
        margin-right: 25px;
    }

    .start__menu-main-items-item:hover {
        background: var(--color-accent);
    }

    .start__menu-main-items-item:hover .start__menu-main-items-item-title {
        color: white;
    }

    .start__menu-main-items-item:hover .start__menu-main-items-item-arrowright {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid white;
    }

    .start__menu-main-items-list1 {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #85888f;
    }

    .start__menu-main-items-list2 {
        margin: 0;
        padding: 0;
        border-top: 1px solid #deebf3;
    }

    .start__menu-sub {
        background: #c3c6cd;
        border-top: 2px solid #deebf3;
        border-left: 2px solid #deebf3;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 85%;
        left: 100%;
        padding: 0;
        display: none;
        position: absolute;
    }

    .start__menu-sub .icon {
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }

    .start__menu-sub-items-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px 10px 12px 8px;
    }

    .start__menu-sub-items-item:hover {
        background: var(--color-accent);
    }

    .start__menu-sub-items-item:hover .start__menu-sub-items-item-title {
        color: white;
    }

    .start__menu-sub-items-item:hover .start__menu-sub-items-item-arrowright {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid white;
    }

    .start__menu-sub-items-item-title {
        margin: 7px 0;
    }

    .tasks {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .sub__projects {
        bottom: 52%;
    }

    .desktop-icon {
        position: absolute;
        height: 150px;
        width: 150px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .desktop-icon__icon {
        height: 50px;
    }

    .desktop-icon__text {
        color: white;
        font-size: 2.5rem;
        margin-top: 9px;
        margin-left: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .desktop-icon-mariposa__text {
        margin-top: 7rem;
        margin-left: 8rem;
    }

    .desktop-icon:hover {
        cursor: pointer;
    }

    .computer__icon {
        width: 55px;
        margin: 9px;
    }

    /* Desktop icons */
    .mariposa {
        top: 1.5rem;
        left: 16rem;
    }

    .spotavibe {
        top: 20rem;
        left: 3rem;
    }

    .gerrit {
        top: 34rem;
        left: 3.25rem;
    }

    .music-vis {
        top: 3rem;
        left: 4rem;
    }

    /* Desktop images */
    .mariposa-img {
        display: inline-block;
        width: 10rem;
    }

    .spotavibe-img {
        display: inline-block;
        width: 8rem;
    }

    .musicviz-img {
        display: inline-block;
        margin-bottom: 0.5rem;
        width: 7rem;
    }

    .gerrit-img {
        display: inline-block;
        width: 10rem;
        z-index: 2;
    }

    /*  Menubar */
    .underline {
        text-decoration: underline;
    }

    .menu-open {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        transition: visibility 0s, opacity 0.5s linear;
    }

    .volume-img {
        width: 59px;
        margin-top: 0px;
    }

    .bg-img {
        background-image: url(https://i.pinimg.com/originals/96/17/c0/9617c03faeb0986659acd2fa7ff87a26.png);
        -o-object-fit: cover;
        object-fit: cover;
        width: 200px;
        height: 200px;
        mix-blend-mode: multiply;
    }

    .settings-img {
        background-position: 88% 21%;
    }

    .shutdown-img {
        background-position: 75% 79%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .shutdown {
        margin-top: 11px;
    }

    .settings {
        background-position: 75% 79%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .task {
        top: 1px;
        width: 156px;
        bottom: 1px;
        border: outset 2px;
        font-weight: 400;
        font-size: 23px;
        display: flex;
        align-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .task__icon-contact {
        width: 14px;
        height: 14px;
        margin: 6px;
        background-image: url("./images/contact_01_small.png");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .about-task {
        width: 157px;
        top: 1px;
        bottom: 1px;
        border: outset 2px;
        font-weight: 400;
        font-size: 14px;
        display: flex;
        align-content: flex-start;
        align-items: center;
    }

    .task__icon-about {
        width: 32px;
        height: 32px;
        background-image: url("./images/about_01_small.png");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .active {
        border: inset 2px;
    }

    /* social media buttons */
    .tasks__social {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .tasks__sidebar {
        height: 85px;
        margin: 5px;
        align-self: center;
        border: outset 4px;
    }

    .tasks__stripe {
        height: 100%;
        width: 2px;
        border: inset 2px;
    }

    .task__icon-gerrit {
        background-image: url("./images//Gerrit_01_small.png");
        width: 42px;
        height: 42px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-top: 21px;
    }

    .task__icon-mariposa {
        width: 42px;
        height: 42px;
        background-image: url("./images//Mariposa_01_small.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-top: 21px;
    }

    .task__icon-spotavibe {
        background-image: url("./images//Spotavibe_01_small.png");
        width: 42px;
        height: 42px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-top: 21px;
    }

    .task__icon-musicviz {
        background-image: url("./images//Muxisvi_01_small.png");
        width: 42px;
        height: 42px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-top: 7px;
    }

    img {
        width: 34px;
        background: transparent;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)";
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
        zoom: 1;
        margin-top: 7px;
    }


    #github-icon,
    #linkedin-icon,
    #email-icon {
        width: 60px;
        height: 60px;
    }

    #github-icon:hover,
    #linkedin-icon:hover,
    #email-icon:hover {
        cursor: pointer;
        background: var(--color-accent);
    }

    .linkedin-icon,
    .email-icon {
        width: 32px;
        height: 32px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 32 32'%3E%3Cpath d='M7 23L23 7M23 23L7 7M15 26V4M26 15H4' stroke='black' stroke-width='2'/%3E%3Ccircle cx='15' cy='15' r='7'/%3E%3Ccircle cx='13' cy='13' r='2' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
    }

    #blink {
        /* animation: blinker 1s linear infinite; */
    }

    @keyframes blinker {
        50% {
            /* opacity: 0; */
            color: yellow;
        }
    }